a {
text-decoration: none;
font-family: 'Ubuntu', sans-serif;
}
body, html {
height: 100%;
}
.body {
background: url(../images/background.png);
background-size: cover;
background-repeat: no-repeat;
}
.header {
display: flex;
list-style-type: none;
justify-content: space-between;
text-align: center;
padding-top: 29px;
padding-bottom: 18px;
color: #FFFFFF;
background: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-link {
font-family: 'Ubuntu', sans-serif;
font-weight: 700;
font-size: 20px;
text-decoration: none;
padding-left: 79px;
font-weight: bold;
color: #FFFFFF;
}
.header-nav {
display: flex;
list-style-type: none;
text-decoration: none;
align-items: center;         
}
.nav-img1 {
padding-right: 27px;
}
.nav-img2 {
padding-right: 27px;
}
.nav-img3 {
padding-right: 27px;
}
/* .svg-line {
border-right: rgba(255, 255, 255, 0.9);
mix-blend-mode: normal;
border: none;
opacity: 0.5;
width: 1px;
height: 19px;
} */
.header-content {
text-decoration: none;
color: #FFFFFF; 
padding-right: 79px;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 14px; 
}
.nav-img3::after {
content: "";
border: 1px solid #000;
height: 18px;
margin-left: 25px;
margin-bottom: 25px;
background: rgba(255, 255, 255, 0.9);
opacity: 0.41;
}
.text-link1 {
text-decoration: none;
color: #FFFFFF;
}
.text-link2 {
text-decoration: none;
color: #FFFFFF;
}
.info {
position: absolute;
width: 400px;
height: 584px;
left: 0px;
top: 0px;
background: #FFFFFF;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.info-link {
display: flex;
list-style-type: none;
justify-content: space-between;
text-align: center;        
}
.info-nav {
display: flex;
list-style-type: none;
justify-content: center;
text-align: center;        
}
.sign-link {
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
list-style: none;
text-decoration: none;
margin-bottom: 15px;
padding-right: 43px;
}
.up-decoration {
color: #434343;
font-size: 20px;
line-height: 20px;
}
.in-decoration {
color: #3CB878;
font-size: 14px;
line-height: 14px;      
}
.sign-link:first-child {
justify-items: flex-start;
}
.info-nav {
list-style: none; 
text-decoration: none;
color: #FFFFFF      
}
.green-button {
width: 18px;
height: 18px;
background: #3CB878;
border: none;
justify-content: start;
}
.facebook {
list-style: none; 
text-decoration: none;
left: 24.04%;
right: 24.04%;
color: #FFFFFF;
width: 100%; 
height: 20px;       
}
.button-f {
background: #305DB8;
width: 160px;
height: 48px;
border-radius:4px;
color: #FFFFFF;
border: none;
}
.button-f::before {
content: url(../images/f.png);
margin-right: 42px;
}
.google {
list-style: none; 
text-decoration: none;
left: 24.04%;
right: 24.04%;
color: #FFFFFF;
width: 100%; 
height: 20px;         
}
.button-g {
background: #DF4A32;
width: 160px;
height: 48px;
border-radius:4px;
border: none;  
color: #FFFFFF;       
}
.button-g::before {
content: url(../images/G+.png);
margin-right: 42px;
}
.form-divider {
color: #848484;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;
/* margin-left: 30%; */
margin-top: 35px;
margin-bottom: 12px;
}
.form-divider::after,
.form-divider::before {
content:"";
width: 152px;
height: 1px;
left: 10px; 
top: 6px;
background-color: #919191;
margin-inline: 5px;
}
.container-body {
/* display: block;
justify-content: center;
align-content: center;
list-style-type: none;
width: 444px;
height: 584px;
background: #FFFFFF;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52); */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.info {
background-color: #F2F2F2;
width: 444px;
padding: 30px 60px;
margin-top: 50px;
position: relative;
}
.container-info {
display: flex;
flex-direction: column;
}
.registr-field {
border: none;
outline: none;
background-color: #F2F2F2;
border-bottom: 1px solid #6b6b6b;
font-size: 15px;
line-height: 22px;
padding-bottom: 6px;
margin-bottom: 15px;
width: 324px;
height: 44px;
padding-left: 19px;
top: 225px;
border-radius: 4px;
}
.registr-field:focus{
background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.52);
}
.registr-field:not(:last-child) {
margin-bottom: 15px;
} 
/* .registr-field:focus {
background: #FFFFFF;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
border-radius: 4px;
} */
.item-wrapper {
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
font-size: 14px;
color: #434343;
}
.checkbox-wrapper {
position: relative;
}
.checkbox-wrapper input {
display: none;
}
.checkbox-wrapper label {
margin-left: 30px;
user-select: none;
cursor: pointer;
vertical-align: center;

}
.checkbox-wrapper label::before {
content: "";
display: block;
width: 20px;
height: 20px;
border: 1px solid #BEBEBE;
border-radius: 0px;
position: absolute;
top: 0;
left: 0;
}
.checkbox-wrapper input:checked + label::after {
content: "";
width: 20px;
height: 20px;
background-image: url(../images/Vector\ 1.svg);
background-repeat: no-repeat;
position: absolute;
top: 1px;
left: 1px;
background-size: 19px;
}
.checkbox-color{
color: #3CB878;
}
.checkbox-color:focus {
color: #01813F;
}
.submit-button {
width: 324px;
height: 46px;
left: 60px;
background: rgba(60, 184, 120, 0.8);
border-radius: 4px;
margin-top: 20px;
border: none;
}
.text-confirm {
color: #FFFFFF;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 16px
}
.submit-button:focus {
background-color: #01813F;
}

