img,
picture,
iframe,
canvas,
svg {
  max-width: 100%;
}
p,
h3 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
}
h5 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
color: #FFFFFF;
}
a {
text-decoration: none;
color: #FFFFFF;
}
.logo-header:hover{
filter: invert(45%) sepia(49%) saturate(1293%) hue-rotate(343deg) brightness(97%) contrast(96%);
color: #F26522;
}
.logo-header {
display: flex;
justify-content: space-between;
}
.body {
display: flex;
flex-direction: column;
align-items: center;
background: fixed;
background-image: url(../images/background\ 1.png);
background-size: cover;
max-width: 100%;
margin-top: 50px;
}
.container {
align-self: normal;
display: flex;
justify-content: space-around;
/* align-items: center;  */
/* padding-inline-end: 120px;
padding-inline-start: 120px; */
}
/* .nav-logo-link:hover {
color: #F26522;
} */
.content-item1:hover .photo-content-nav {
display: block;
}
.logo-info {
text-decoration: none;
color: #FFFFFF;
}
.logo-info-mil {
padding-left: 8px;
align-items: stretch;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 29px;
}
.logo-info-hol {
display: flex;
padding-left: 8px;
text-align: inline;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 18px;
}
.contact-menu {
align-content: flex-end;
text-align: end;
}
.email {
padding-bottom: 19px;
}
.logo-info:hover {
color: #F26522;
}
.email:hover {
color: #F26522;
}
.phone:hover {
color: #F26522;
}
.container-content {
border-image-width: auto;
}
.content-price {
padding-top: 10px;
padding-left: 20px;
}
.from-style {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 10px;
}
.price-style {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
}
.content-detail {
align-self: flex-end;
padding-bottom: 5px;
padding-left: 20px;
}
.content-text {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
}
.photo-hover-content {
position: absolute;
height: 100%;
bottom: 40px;
left: 0px;
text-align: center;
background-color: #F26522;
width: 300px;
height: 50px;
display: flex;
justify-content: space-between;
visibility: hidden;
}
.content-text {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
}
.content-item1:hover .photo-hover-content {
visibility: visible;
}
.content-item2:hover .photo-hover-content {
visibility: visible;
}
.content-item3:hover .photo-hover-content {
visibility: visible;
}
.content-item4:hover .photo-hover-content {
visibility: visible;
 }
.content-item5:hover .photo-hover-content {
visibility: visible;
}
.content-item6:hover .photo-hover-content {
visibility: visible;
}
.text {
padding-top: 20px;
text-align: center;
}
.photo-content {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding-top: 50px;
padding-bottom: 70px;
margin: 0 auto;
gap: 35px;
/* width: 1022px; */
grid-template-areas:
"content-item1 content-item2 content-item3"
"content-item4 content-item5 content-item6";
}
.content-item1 {
grid-area: content-item1;
display: grid;
text-align: center;
position: relative;
}
.content-item2 {
grid-area: content-item2;
display: grid;
text-align: center;
position: relative;
}
.content-item3 {
grid-area: content-item3;
display: grid;
text-align: center;
position: relative;
}
.content-item4 {
grid-area: content-item4;
display: grid;
text-align: center;
position: relative;
}
.content-item5 {
grid-area: content-item5;
display: grid;
text-align: center;
position: relative;
}
.content-item6 {
grid-area: content-item6;
display: grid;
text-align: center;
position: relative;
}
.footer {
display: flex;
text-align: center;
justify-content: center;
}