.container-header {
         background: #313131;
         max-width: 100%;
         margin: 0px;
         display: flex;
         justify-content: space-between;
         align-items: center;       
}
a {
         text-decoration: none;
}
img,
picture,
iframe,
canvas,
svg {
  max-width: 100%;
}
h2 {
     text-transform: uppercase;
}
h3 {
     font-family: Open Sans;
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
}
.logo {
         display: flex;
         padding-left: 29px;
         color: #FFFFFF;
}
.logo-link {
     display: flex;
}
.header-navigation {
     display: flex;
     justify-content: space-between; 
}
.logo-description {
         font-family: Open Sans;
         font-style: normal;
         font-weight: bold;
         font-size: 22px;
         line-height: 30px;
         color: #FFFFFF;
         text-decoration: none;
}
.header-navigation-item {
         margin-right: 35px;
         list-style: none;
}
.header-navigation-link{
         color: #FFFFFF;
         font-size: 15px;
         font-family: Open Sans;
         text-transform: uppercase;
}
.header-navigation-link:hover {
         color: #14B9D5;
}
.new-navigation {
     padding:22px 26px;
     background-color: #000000;
     list-style: none;
}
/*.header-navigation-seach {
     background-color: #000000;
     background-size: 72px 60px;
     align-self: flex-start;
}*/
.body {
     background-color: #F2F2F2;
}
.background-nav {
         background-image: url(../images/header-background.png);
         background-size: cover;
         padding-top: 162px;
}
.background-nav-title {
         color: #FFFFFF;
         font-size: 27px;
         display: flex;
         align-items: center;
         justify-content: center;    
}
.buttons {
     display: flex;
     justify-content: center;
     padding-bottom: 72px;
     padding-top: 42px;
     margin-bottom: 0;
     text-decoration: none;
}
.sub-button {
         display: flex;
         text-align: center;
         background: #89CA62;
         font-size: 18px;
         border-radius: 4px;
         width: 191px;
         height: 51px;
         align-items: center;
         justify-content: center;
         margin-left: 10px;
}
.sub-button a{
     color: #FFFFFF;
}
.art-button {
         display: flex;
         background: #14B9D5;
         font-size: 18px;
         border-radius: 4px;
         width: 191px;
         height: 51px;
         align-items: center;
         justify-content: center;
         margin-left: 20px;
         text-decoration: none;
}
.art-button a{
     color: #FFFFFF;
}
.container-section {
     margin-top: 0px;
     justify-content: center;
     display: block;
     margin-left: 340px;
     margin-right: 340px;
     max-width: 100%;
}
.main-menu-title {
     color: #18B4CF;
     font-family: Open Sans;
     margin-top: 0;
     margin-bottom: 0px;
     padding-top: 49px;
     font-style: normal;
     font-weight: bold;
     font-size: 27px;
     line-height: 37px;
     align-items: flex-end;
     text-align: center;
     text-transform: uppercase;
}
.photo-content {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     height: 950px;
     text-decoration: none;
     padding-top: 52px;
     list-style: none;
     margin-top: 0px;
}
.photo-content-description {
     background-color: #FFFFFF;
     background-size: 370px 20px;
}
.photo-content-description-info {
     color: #353A3D;
     background-color: #FFFFFF;
     width: 370px;
     height: 30px;
     text-align: center;
}
.photo-content-item1 {
     align-self: flex-start;   
     text-decoration: none; 
     background-color: #FFFFFF;
     margin-bottom: 31px;
}
.photo-content-item2 {
         align-self: stretch;
         background-color: #FFFFFF;
         align-self: flex-start;
         margin-bottom: 31px;
}
.photo-content-item3 {
     align-self: stretch;
     background-color: #FFFFFF;
     align-self: flex-start;
     margin-bottom: 31px;
}
.photo-content-item4 {
     align-self: stretch;
     background-color: #FFFFFF;
     align-self: flex-start;
     margin-bottom: 31px;
}
.photo-content-item5 {
     align-self: stretch;
     background-color: #FFFFFF;
     align-self: flex-start;
     margin-bottom: 31px;
}
.photo-content-item6 {
     align-self: stretch;
     background-color: #FFFFFF;
     align-self: flex-start;
     margin-bottom: 31px;
}
.creative-section {
     background-color: #FFFFFF;
}
.creative-background {
     display: grid;
     background-image: url(../images/Layer4\ .png);
     background-size: cover;
     padding-top: 162px;
     padding-bottom: 0px;
     margin-top: 0px;
     align-items: center;
     background-color: #FFFFFF;
}
.creative-background-title {
     color: #FFFFFF;
     font-weight: 700;
     font-size: 32px;
     line-height: 44px;
     margin: 0;
     padding-top: 108px;
     align-items: flex-end;
     text-align: center;
     text-transform: uppercase;
}
.subtext-line{
     width: 60px;
     height: 2px;
     background-color: #18B4CF;
     border: none;
     margin-top: 87px;
}
.nav-titles {
     display: grid;
     justify-content: center;
     grid-template-columns: 207px 150px 232px 141px;
     gap: 58px;
     width: auto;
     list-style: none;
     margin-left: auto;
     margin-right: auto;
     margin-top: 107px;
     padding: 0;
     margin-bottom: 190px;
}
img.content {
     background:#FFFFFF;
}
.img-content-title {
     font-family: Open Sans;
     font-weight: bold;
     font-size: 27px;
     line-height: 37px;
     text-align: center;
     color: #18B4CF;
}
.img-line {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     grid-column-gap: 0;
     list-style: none;
     padding: 0px;
     gap: 0;
}
.hot-news {
     border-image-width: auto;
     background-color: white;
}
.hot-news-title {
     font-family: Open Sans;
     font-weight: bold;
     font-size: 27px;
     line-height: 37px;
     text-align: center;
     color: #18B4CF;
}
.hot-content {
     display: grid;
     grid-template-columns:  1fr 1fr 1fr 1fr;
     padding-top: 50px;
     padding-bottom: 70px;
     margin: 0 auto;
     gap: 35px;

  
     grid-template-areas: 
     "div1 div1 div1 div2"
     "div3 div3 div4 div4"
     "div5 div5 div6 div6"
     "div7 div8 div8 div8";


     width: 1168px;
}   
.div1 { 
     grid-area: div1;
     display: grid; 
     grid-template-columns: 1fr 1fr;
}
.div2 {  
     grid-area: div2; 

}
.div3 {  
     grid-area: div3; 

}
.div4 { 
     grid-area: div4; 

}
.div5 { 
     grid-area: div5; 

}
.div6 { 
     grid-area: div6; 

}
.div7 { 
     grid-area: div7; 

}
.div8 { 
     grid-area: div8; 
     display: grid;
     grid-template-columns: 1fr 1fr;
}
.container-footer {
     background-color: #000000;
     color: #FFFFFF;
}
.footer-text {
     display: flex;
     padding-top: 31px;
     width: 1168px;
     margin: 0 auto;
     justify-content: space-between;
     
}
.footer-logo {

}