.container {
  width: 1283px;
  margin: 0 auto;    
  }
  a {
    text-decoration: none;
  }
  .title-link {
    margin-bottom: 40px;
  }
  .logo {
  font-size: 80px;
  color: #000000;
  text-decoration: none;
  font-family: Roboto;
  }
  .color-text {
  color: rgb(46, 158, 218);
  }
  .page-navigation {
  display: flex;
  list-style-type: none;
  background: #35444F;
  justify-content: center;
  font-family: Roboto;
  }
  .menu-item {
  font-size: 24px;
  line-height: 28px;
  padding: 24px 30px;
  border-left: 1px solid #FFFFFF;
  font-family: Roboto;  
  }
  .header-menu {
  color: #FFFFFF;
  }
  .main {
    display: flex;
    margin-bottom: 40px; 
  }
  p {
    color: #0C1927;
  }
  .aside-page-menu {
    width: 344px;
    height: 399px;
    margin-bottom: 48px;
    margin-right: 52px;
    padding-top: 48px;
  }
  .br {
  border-right: 1px solid white;
  }
  .page-menu-color {
    color: #485863;  
  }
  .page-menu {
  margin: 2px;
  border: 1px solid #000000;
  width: 344px;
  }
  
  .second-menu-item {
  font-size: 27px;
  padding: 26px;
  list-style-type: none; 
     
  }
  
  .img {
  width: 320px;
  align-self: flex-end;
  border: 1px solid #000000;
  padding: 75px 268px 73px 267px;
  justify-content: space-between;
  }

  .img-container {
  justify-content: space-between; 
  text-align: center;
  padding-bottom: 20px;
  padding-top: 48px;
  }

  .pageWrapper {
  display:flex;
  }
  .text-block1 {
  color: #2C2C2C;
  font-family: Roboto;
  font-size: 18px;
  }
  .text-block2 {
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    }
  .footer {
  display: flex;
  justify-content: space-between;
  margin-right: 300px;
  margin-left: 300px;
  background: rgba(99, 105, 110, 0.48);
  padding: 20px 40px;
  }
  .footer-menu {
  display: flex;
  list-style-type: none;
  color: #0C1927;
  justify-content: space-between;
  }

  .footer-menu-item {
  color: #0C1927;
  margin-left: 30px;
  font-size: 28px;
  }

  .last-text {
  font-size: 24px;        
           
  }
  .context-container {
    padding-left:30px;
  }

  .page-navigation li:hover {
    background: #222F3A;
  }

  .page-menu li:hover {
    background:#DBDBDB;
    text-align:center;
  }

  .footer-menu li:hover {
    color:rgb(46, 158, 218);
  }