 *,
 *::after,
 *::before {
          box-sizing: border-box;
 }
  
.navigation_menu {
         display: flex;
         justify-content: space-between;
         padding: 0px 600px 0px 600px;
         font-weight: bold;
         size: 18px;
         line-height: 18px;
         font-family: Montserrat;
         align-items: center;
         letter-spacing: 2.7px;
         text-transform: uppercase;
         padding-block-end: 18px;
         font-size: 18px;
}
.menu-item {
         display: inline;
         width: 120px;
         height: 27px;
         left: 0px;
         top: -6px;

}
.menu-link {
         font-style: 24px;
         line-height: 48px;
         text-decoration: none;
         color: #FF0000;
}
      
img,
picture,
iframe,
canvas,
svg {
    max-width: 100%;
}

.header__title {
    margin-top: 35px;
    text-align: center;
    color: #373737;
    font-family: Montserrat;
    font-size: 16px;
    size: 22px;
    line-height: 26px;
}
.main-section {
         margin-top: 35px;
         text-align: center;
         color: #373737;  
         font-family: Montserrat;
         size: 22px;
         line-height: 26px;
         font-size: 16px;
}
button {
         width: 191px;
         height: 51px;
         left: 544.5px;
         top: 557px;
         border-radius: 4px;
         border: none;
         justify-content: center;
         letter-spacing: 1.8px;
         text-transform: uppercase;
         margin-top: 50px;
         border-radius: 4px;
         background-color: #FF0000;
         color: #FFFFFF;
}
.container {
    width: 1145px;
    margin: 0 auto;
    text-align: center;

}
.container2 {
         padding-right: 30px;
         padding-left: 50px;
         margin-top: 50px;
         margin-bottom: 50px;
         margin-right: 30px;
         margin-left: auto;
         text-align: right;
         font-weight: bold;
         font-style: normal;
         font-size: 16px;
         line-height: 20px;
         margin-left: 67px;
         color: #373737;
         justify-content: space-between;
}
.button-nav {
    text-align: center;
    font-size: 48px; 
    width: 191px;
    height: 51px;
    margin: 0 auto;
    top: 557px;
    background: #FF0000;
    border-radius: 4px;
}
.button-link {
        text-align: center;
        text-decoration: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        color: #FFFF;
        margin-top: 18px;
        margin-left: 42.5px;
        margin-right: 43.5px;
        margin-bottom: 20px;
        width: 95px;
        height: 18px;
        font-size: 12px;
        padding: auto;
        font-size: 12px;
}